main {
    padding-bottom: 100px;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-main {
    background-color: #111111;
    color: #eeeeee;
}
