header {
    height: 100px;
    background-color: #eeeeee;
    color: #000000;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.dark-header {
    background-color: #111111;
    color: #eeeeee;
}


.site-name {
    font-size: 30px;
}

.site-name .youtube {
    color: #bb0000;
    font-weight: bold;
}
