footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #eeeeee;
    color: #000000;
    /* layout */
    display: flex;
    align-items: center;
}

footer .content {
    padding-left: 50px;
    padding-right: 50px;
}

footer .content .author-name {
    font-weight: bold;
}

footer .content a {
    color: #ff9100;
    text-decoration: none;
}

footer .content a:hover {
    color: #ffc400;
    text-decoration: none;
}
