footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #eeeeee;
    color: #000000;
    /* layout */
    display: flex;
    align-items: center;
}

.dark-footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #000000;
    color: #eeeeee;
}

footer .footer-content {
    padding-left: 50px;
    padding-right: 50px;
}

footer .footer-content .author-name {
    font-weight: bold;
}

footer .footer-content a {
    color: #bb0000;
    text-decoration: none;
}

footer .footer-content a:hover {
    color: #db0000;
    text-decoration: none;
}
